$blue: #0a3473;
$blueDark: #00183c;

$offWhite: #cacfde;
$greyMedium: #696879;

$purple: #180A38;
$pink: #fb1a80;
$pinkDark: #b10050;
$pinkHighlight: #ed0077;

$button-active-end: #003392;
$button-active-inset-start: #163e9f;

body {
  font-family: 'Gotham SSm A','Gotham SSm B',helvetica,arial,sans-serif;
  color: white;
  margin: 0;
}

// ===CONTAINERS START=== //
.whole-page {
  margin: 0;
  padding: 0;
}

.page-container h1, .page-container button, .page-container p, .page-container ul {
  margin-left: 7%;
  margin-right: 7%;
  // border: red 2px solid;
}

.header-container {
  // border: red 4px solid;
  padding-left: 2%;
  margin: 0;
  padding-top: 1px;
}

.product-container, .desc-container, .shopping-container, .spec-container, .foot-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.name-and-info {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 7%;
  margin-right: 7%;
}

.foot-container {
  margin-left: 2%;
  margin-right: 2%;
}
// ===CONTAINERS END=== //

// ===HEADER STARTS=== //

.merging-colour {
  background: rgb(0,24,60);
background: linear-gradient(180deg, rgba(0,24,60,1) 63%, rgba(10,52,115,1) 63%);
}

// ===COMPANY TEXT LOGO START=== //
.company-text-logo {
  font-size: 2rem;
  .company-bold-text {
    font-weight: 500;
  }
  .company-slim-text {
    font-weight: 300;
  }
}
// ===COMPANY TEXT LOGO END=== //
// ===HEADER ENDS=== //

// ===PRODUCT SECTION=== //
// PRODUCT IMAGE START
.product-image {
  height: 300px;
  margin-top: 0;
  padding-top: 0;
}
.card-content {
  display: flex;
}
.is-horizontal-center {
  justify-content: center;
}
// PRODUCT IMAGE END

// BACKGROUND COLOURS START
.dark-background-colour {
  background-color: $blueDark;
}

.light-background-colour {
  background-color: $blue;
}
// BACKGROUND COLOURS END

div {
  margin: 0;
}

.cart-button {
  text-align: center;
  font-size: 1rem;
  align-content: center;
  padding: 20px;
}

h1 {
  padding: 0;
  margin: 10px 0 10px 0;
}

li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

li:nth-of-type(1n+2) {
  text-decoration: underline $blue;
}



